:root {
    --light-grey: #C3C3C3;
    --medium-grey: #6C6C6C;
    --dark-grey: #2D2D2D;
    --small-image-size: 30px;
    --gap-size: 10px;
    --arrow-height: calc(var(--gap-size) * 0.8);
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

li {
    list-style-type: none;
}

.octodex {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    text-align: center;
}

.octocat {
    position: relative;
    float: left;
    min-width: 300px;
    width: 20vw;
    margin: 10px;
    text-align: center;
}

.octocat > a > img {
    width: 99%;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    vertical-align: bottom;
    margin-right: 5px; 
}

.image-footer:before {
    position: absolute;
    content: '';
    right: calc((var(--small-image-size) / 2) - var(--arrow-height));
    border-left: var(--arrow-height) solid transparent;
    border-right: var(--arrow-height) solid transparent;
    border-top: var(--arrow-height) solid var(--light-grey);
}

.image-footer {
    position: relative;
    height: calc(var(--small-image-size) + 2 * var(--gap-size));
    border-bottom: 1px solid var(--light-grey);
}

.image-footer > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.image-number {
    color: var(--light-grey);
    left: 0;
}

.image-number:before {
    content: '#';
}

.image-caption {
    right: 0;
    height: var(--small-image-size);
}

.image-caption * {
    float: left;
}

.image-caption span {
    color: var(--medium-grey);
}

.image-caption > span, .image-caption > a {
    position: relative;
    margin-right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.authors {
    padding: 0;
}

.authors img {
    width: var(--small-image-size);
    border-radius: 5px;
}

.authors img :not(:last-child) {
    margin-right: 4px;
}